.SalesManData {
    text-align: left;
    padding-bottom: 35px;
    font-size: 20px;
}

.CustomerData {
    display: flex;
    flex-direction: row;
}

.BillTo {
    margin-right: 400px;
}

.Head {
    background-color: grey;
    color: black;
}

.Foot {
    text-align: right;
}

.table {
    border: 2px solid black;
    text-align: center;
}

td {
    border: 1px solid black;
}

.table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 200px;
    margin-top: 200px;
}

.CustomerDataTable {
    width: 50%;
    text-align: center;
}

.total {
    margin-right: 50px;
}
