<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop.Web</title>
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<article class="container">
    <sector class="container-title">
        <h1 class="home-title">Mobile Galactica</h1>
    </sector>
</article>