@model IEnumerable<MobilePhoneForHomeVM>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop.Web</title>
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<article class="container">
    <sector class="container-title">
        <h1 class="home-title">Mobile Galactica</h1>
    </sector>
    <sector class="container-best-sellers">
        <div class="row">
            @foreach (var phone in Model)
            {
                <div class="col-md-4">
                    <h1 class="home-title">@phone.Name</h1>
                </div>
            }
        </div>
    </sector>
    <sector class="container-btn">
        <a asp-controller="MobilePhone" asp-action="Index">
            <div class="to-list-btn">dsadsa</div>
        </a>
    </sector>
</article>