@model IEnumerable<MobilePhoneForListVM>

@{
    ViewData["Title"] = "Index";
}

<div class="container" id="list">
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_MobilePhoneCard" model="item" />
        }
    </div>
</div>

