@model IEnumerable<MobilePhoneForListVM>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link href='@(Url.Content("~/css/filters.css") + "?v=" + Guid.NewGuid().ToString())' rel='stylesheet' type='text/css' />
</head>

@await Component.InvokeAsync("FiltersForm")

<div class="container" id="list">
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_MobilePhoneCard" model="item" />
        }
    </div>
</div>

<script src="~/js/filters.js" asp-append-version="true"></script>
