@model IEnumerable<OnlineShop.Web.Models.Entity.Order>

<div class="details-container" id="orders-container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

