@model IEnumerable<OnlineShop.Web.Application.ViewModels.Order.OrderForSummaryListVM>

<div class="details-container" id="orders-container">
    <div class="shipping-address-title">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <span id="back-to-profile"><i class="fas fa-arrow-circle-left fa-2x"></i></span>
        </a>
        <p>
            Your Orders History
        </p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        <a asp-controller="Order"  asp-action="OrderDetails" asp-route-orderId="@item.Id">Details</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

