<div class="details-container" id="summary-container">
    <h1 class="summary-info">Thanks for you order BRO!!!</h1>
    <a asp-controller="MobilePhone" asp-action="Index">
        <h2 class="summary-info"><i class="fas fa-hand-point-right" id="hand"></i>Check your orders</h2>
    </a>
</div>