@model OnlineShop.Web.Application.ViewModels.ShoppingCart.ShoppingCartVC

<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="ShoppingCart" asp-action="Index">
        <i class="fas fa-shopping-cart "></i>
            <span>@Model.ItemsCount</span>
    </a>
</li>