.form-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 0%;
    width: 0%;
}

.form-link-container {
    position: fixed;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 0%;
    font-size: 20px;
    transition: all linear 0.3s;
}

.form {
    padding: 20px;
    overflow: hidden;
    transition: all linear 0.3s;
}

    .form:first-of-type {
        margin-top: 50px;
    }

.divider {
    border-top: 3px solid #bbb;
}

.bar {
    height: 6px;
    width: 30px;
    background-color: black;
    border-radius: 10px;
    transition: all linear 0.3s;
    background-color: black;
    box-shadow: 4px 4px 4px var(--mainDark);
}

    .bar:not(:first-of-type) {
        margin-top: 6px;
    }

.form-btn {
    position: fixed;
    width: 60px;
    top: 0;
    padding: 20px;
    z-index: 7;
    height: 60px;
}

    .form-btn:hover .bar {
        background-color: blue
    }

    .form-btn:hover {
        cursor: pointer;
    }

.active .bar1 {
    width: 20px;
    transform: rotate(-45deg) translate(-8px, 2px);
}

.active .bar3 {
    width: 20px;
    transform: rotate(45deg) translate(-8px, -2px);
}

.form-link-container-active {
    width: 100%;
}

.form-container-active {
    height: 100%;
    width: 100%;
    z-index: 2;
}

@media (min-width: 1200px) {
    .form-link-container-active {
        width: 30%;
    }
}

.form-item {
    display: flex;
    justify-content: space-around;
}

.num-input {
    width: 100px;
}

.filters-label {
    font-size: 16px;
    margin-bottom: 5px;
}

.filters-brands-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .form-btn {
        width: 50px;
        padding: 10px;
        height: 50px;
    }
}