* {
    padding: 0;
    margin: 0;
}

#footer,
#nav,
#dropdown {
    display: none;
}

#container {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    text-shadow: 2px 2px 2px white;
}

.container-title {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

.container-best-sellers {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: nowrap;
    align-content: center;
}

.container-btn {
    display: flex;
    justify-content: center;
}

.card {
    height: 100%;
}

.container-card {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.card-img {
    width: auto;
    background-size: contain;
    margin: auto;
    max-height: 200px;
    padding: 15px;
    padding-bottom: 0;
}

.card-title {
    text-shadow: 1px 1px 2px black;
    color: #1763A1;
}

.card-body {
    flex: none;
}

.bestseller-icon {
    top: 0;
    right: 0;
    position: absolute;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: red;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bestseller-title {
    position: absolute;
    top: 23px;
    color: yellow;
}

.card {
    transition: all linear 0.2s;
    animation: test 1s linear forwards;
}

    .card:hover .hover-msg {
        z-index: 1;
    }

.hover-msg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1763A1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    opacity: 0;
    transition: all linear 0.5s;
    text-shadow: 1px 1px 2px black;
    z-index: -1;
}

.to-list-btn {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    transition: all linear 0.2s;
}

    .to-list-btn:hover {
        background-color: #1763A1;
    }

        .to-list-btn:hover .to-list-title {
            color: #fff;
        }

        .to-list-btn:hover .fa-arrow-right {
            transform: translateX(75px);
            opacity: 0;
        }


.to-list-title {
    margin: 0;
    margin-right: 20px;
    font-size: 24px;
}

.fa-arrow-right {
    transition: all linear 0.4s;
}


@keyframes test {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
