/*Layout*/
/*####################################################################################################################################################
####################################################################################################################################################
####################################################################################################################################################*/
.body {
    background-image: url("../images/background.jpeg");
    background-position: center;
    background-attachment: fixed;
}

#nav {
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
}

#footer {
    background-color: #fff;
}

/*MobilePhone Index*/
/*####################################################################################################################################################
####################################################################################################################################################
####################################################################################################################################################*/
#list {
    margin-top: 80px;
}

.card {
    margin-bottom: 30px;
    border-radius: 20px;
    border: 0px;
}

    .card:hover .hover-msg {
        opacity: 0.6;
    }

.card-img-top {
    width: auto;
    height: 20vw;
    min-height: 300px;
    background-size: contain;
    margin: auto;
    padding: 15px;
    padding-bottom: 0;
}

.card-text {
    text-align: justify;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#brand {
    text-shadow: 1px 1px 2px black;
    padding-right: 15px;
}

#model {
    text-shadow: 1px 1px 2px black;
    color: #1763A1;
}

#price {
    text-shadow: 1px 1px 2px black;
}

.price-currency {
    text-shadow: 1px 1px 2px black;
    font-size: 1.5rem;
}

.hover-msg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1763A1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    opacity: 0;
    transition: all linear 0.5s;
    text-shadow: 1px 1px 2px black;
}

#mouse-icon {
    padding-right: 25px;
    text-shadow: 1px 1px 2px black;
}