/*Layout*/
/*####################################################################################################################################################
####################################################################################################################################################
####################################################################################################################################################*/
.body {
    background-image: url("../images/background.jpeg");
    background-position: center;
    background-attachment: fixed;
}

#nav {
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
}

#footer {
    background-color: #fff;
}

.nav-item {
    transition: all linear 0.2s;
}

    .nav-item:hover {
        font-weight: 700;
    }

.fa-mobile-alt {
    margin-right: 10px;
}
/*MobilePhone Index*/
/*####################################################################################################################################################
####################################################################################################################################################
####################################################################################################################################################*/
a:hover {
    text-decoration: none;
}

#list {
    margin-top: 80px;
}

.card {
    margin-bottom: 30px;
    border-radius: 20px;
    border: 0px;
}

    .card:hover .hover-msg {
        z-index: 1;
        opacity: 0.6;
    }

.card-img-top {
    width: auto;
    height: 20vw;
    min-height: 300px;
    background-size: contain;
    margin: auto;
    padding: 15px;
    padding-bottom: 0;
}

.card-text {
    text-align: justify;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#brand {
    text-shadow: 1px 1px 2px black;
    padding-right: 15px;
    color: #212529;
}

#model {
    text-shadow: 1px 1px 2px black;
    color: #1763A1;
}

#price {
    text-shadow: 1px 1px 2px black;
    color: #212529;
}

.price-currency {
    text-shadow: 1px 1px 2px black;
    font-size: 1.5rem;
    color: #212529;
}

.card-text {
    color: #212529;
}

.hover-msg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1763A1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    opacity: 0;
    transition: all linear 0.5s;
    text-shadow: 1px 1px 2px black;
    z-index: -1;
}

.hover-msg-msg {
    color: black;
}

#mouse-icon {
    color: black;
}

#mouse-icon {
    padding-right: 25px;
    text-shadow: 1px 1px 2px black;
}

/*MobilePhone Details*/
/*####################################################################################################################################################
####################################################################################################################################################
####################################################################################################################################################*/

.details-container {
    width: 90%;
    margin: auto;
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.carousel-item {
    width: 70%;
    background-size: contain;
}

.carousel-inner {
    width: 70%;
    margin: auto;
}

.carousel-container {
    width: 100%;
}

.carousel-image {
    margin-left: 25%;
    height: 400px;
    background-size: contain;
}

.carousel-control-prev-icon {
    background-image: none;
    border: solid #212529;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.carousel-control-next-icon {
    background-image: none;
    border: solid #212529;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.content {
    padding: 25px;
}

.product-name {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.product-name-name {
    margin: 0;
    margin-left: 20px;
    align-self: flex-end;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px black;
}

.description-title {
    font-size: 1.5rem;
}

.description {
    text-align: justify;
}

.return-btn {
    background-image: none;
    border: solid #212529;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 10px
}

.hardware-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.hardware-title {
    margin-left: 15px;
}

#function-icon {
    color: #1763A1;
}

#hardware-icon,
#camera-icon,
#multimedia-icon,
#screen-icon {
    color: #1763A1;
}

.return-desc {
    color: #212529;
    transition: all linear 0.2s;
}

.return-btn {
    transition: all linear 0.2s;
}

.return-desc:hover {
    font-weight: 700;
}

    .return-desc:hover .return-btn {
        font-weight: 700;
        border-width: 0 12px 12px 0;
    }

.w-100 {
    width: auto !important;
    max-width: 100%;
}

/*ShoppingCart*/
/*####################################################################################################################################################
####################################################################################################################################################
####################################################################################################################################################*/

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #000;
}

.table td, .table th {
    border-top: none;
}

tr {
    vertical-align: bottom;
    border-bottom: 2px solid #212529;
}

.tfoot {
    border-bottom: none;
}

.total {
    text-align: right;
}

.totalP {
    margin: 0;
    margin-right: 50px;
    font-size: 20px;
}

.table-image-continer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#table-image {
    height: 100%;
}

tbody td {
    font-size: 20px;
}

.action-td {
    display: flex;
    justify-content: space-evenly;
}

.action-th {
    text-align: center;
}

@media (max-width: 600px) {
    .table-image-continer {
        height: 150px;
    }

    tbody td {
        font-size: 15px;
    }

    .totalP {
        font-size: 17px;
    }

    .action-td {
        display: flex;
        flex-direction: column;
    }
}

/**Account-Manage/
/*####################################################################################################################################################
####################################################################################################################################################
####################################################################################################################################################*/

.account-manage-form {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#register-form {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#login-form {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#email-form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

#account-manage {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pb-3 {
    margin-top: 90px;
}

.view-data {
    margin-left: 0;
}

#tfa-form {
    padding: 20px;
}

#account-settings-title {
    margin-left: 20px;
}

#confirm-main-view {
    align-items: center;
    flex-direction: column;
}

.link-to-offer {
    color: #1763A1;
}

    .link-to-offer:hover {
        font-weight: 700;
        transition: all linear 0.2s;
        color: #1763A1;
    }

.link-container {
    display: flex;
    flex-direction: row;
}

#hand {
    margin-right: 10px;
}

#reset-confirmation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forget-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tfa-config-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tfa-disable,
#tfa-reset-codes,
#tfa-reset-auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
