@page
@model ConfirmEmailModel
<div class="details-container account-manage-form" id="confirm-main-view">
    <a class="nav-link text-dark" asp-controller="MobilePhone" asp-action="Index">
        <div class="link-container">
            <i class="fas fa-hand-point-right fa-2x" id="hand"></i>
            <h4 class="link-to-offer">
                Check Our Offer
            </h4>
        </div>
    </a>
</div>
