@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="details-container account-manage-form" id="forget-password-container">
    <h3>@ViewData["Title"]</h3>
    <h4>
        Please check your email to reset your password.
    </h4>
</div>


